html {
  background: #f0f0f4;
}

#overlay-shadow {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#overlay {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

.formbox {
  width: 450px;
  height: auto;
  margin: auto;
  padding: 20px;
  padding-bottom: 30px;
  background: white;
  border: 2px solid #adadc2;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px black;
  font-family: 'Poppins', sans-serif;
}

.formbox h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 5px 0px;
}

.formbox_background {
  display: flex;
  height: 100vh;
  background: #260062;
  background: linear-gradient(135deg, rgba(29,0,153,1) 0%, rgba(38,0,98,1) 50%, rgba(75,0,93,1) 100%);
}

.formbox_label {
  padding-top: 5px;
  padding-bottom: 5px;
}

.formbox_label > input {
  width: calc(100% - 8px);
  height: 36px;
  border: 2px solid #adadc2;
  border-radius: 8px;
}

.formbox_submit {
  padding: 5px 10px;
  margin-top: 16px;
  border-radius: 5px;
  border: 2px solid #adadc2;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

#main {

}

#logo {
  display: inline-block;
  padding: 1px 8px;
}

#logo_link {
  display: contents;
}

#logo_container {
  display: inline-block;
}

#sidebar {
  position: fixed;
  z-index: 2;
  width: 248px;
  height: 100vh;
  min-height: 450px;
  overflow-x: hidden;
  background: #fbfbfb;
  border-right: 1px solid #e3e3e3;
  /*box-shadow: -2px 0 8px 0 #808080;*/
  /*box-shadow: 0 0 9px -3px black;*/
  font-family: 'Poppins', sans-serif;
}


#central_biased {
  position: absolute;
  left: 249px;
  right: 0;
  font-family: 'Poppins', sans-serif;
}

#central_full {
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'Poppins', sans-serif;
}

#hotbar {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  min-width: 1040px;
  height: 51px;
  margin: 0;
  padding: 1px 3px;
  background: white;
  color: black;
  /* #c8e8f8: sky blue;  #f9f2b9: pastel yellow;   */
  font-family: 'Poppins', sans-serif;
  /*border-radius: 0 0 0 20px;*/
  /*box-shadow: 0 2px 8px 0 #808080;*/
  box-shadow: 0 -6px 10px 0 black;
}

#hb_wideSearchBarContainer,
#hb_thinSearchBarContainer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin: 9px 12px 9px 12px;
  padding: 2px 36px 2px 18px;
  background: #fff;
  border: 2px solid #adadc2;
  border-radius: 20px;
  /*box-shadow: inset 0px 0px 3px 0px #555;*/
}

#hb_wideSearchBarContainer {
  width: calc(100% - 850px);
  min-width: 200px;
}

#hb_thinSearchBarContainer {
  width: 25%;
}

#searchbar {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 2px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
}

#search_icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 6px 1px 0px;
}

#hb_navlinks {
  display: inline-block;
  margin-top: 3px;
  vertical-align: top;
  color: #260062;
}

.navlink {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 7px;
  padding: 5px;
  background: white;
  border-radius: 8px;
  transition: background 0.2s;
}

.navlink:hover {
  background: #eeeeee;
}

#hotbar_right {
  display: inline-block;
  float: right;
  padding-top: 6px;
}

#hb_loginButton, #hb_signupButton {
  display: inline-block;
  position: relative;
  margin: 2px 12px 2px;
  padding: 2px 10px 2px;
  border: 2px solid #687c9a;
  border-radius: 12px;
  background: rgb(133, 193, 217);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb(0 0 0);
}

#hb_loginButton {
  width: 12%;
  min-width: 120px;
}

#hb_signupButton {
  width: 25%;
  min-width: 290px;
}

#credits_icon,
#heart_icon {
  display: inline-block;
  vertical-align: middle;
}

#credits_text,
#heart_text {
  display: inline-block;
  margin: 0px 6px 0px 6px;
  vertical-align: middle;
  font-size: 26px;
  font-weight: 700;
}

#credits_text {
  color: #226622;
  text-decoration: none;
}

#heart_text {
  color: #994444;
  min-width: 100px;
}

#hb_balance {
  display: inline-block;
  margin: 0px 17px 0px 10px;
  padding: 0px 5px;
  background: white;
  border-radius: 8px;
  transition: background 0.2s;
}

#hb_balance:hover {
  background: #cff9ce;
}

#hb_hearttime {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

@media screen and (max-width: 1400px) {
  #hb_hearttime {
    display: none !important;
  }
}

@media screen and (max-width: 1200px) {
  #hb_balance {
    display: none !important;
  }
}

#hb_userwidget {
  display: inline-block;
  min-width: 150px;
  margin: 3px 15px;
}

#user_icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  /*box-shadow: 0px 0px 0px 2.5px #adadc2;*/
}

#hb_username {
  display: inline-block;
  margin: 0px 6px 0px 6px;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 700;
}

.sidebar_contents {
  padding: 60px 15px 15px 15px;
}

.sidebar_option {
  display: block;
  padding: 5px;
  color: black;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.sidebar_bottom {
  position: absolute;
  bottom: 0;
  padding: 20px;
  color: #adadc2;
}

.central_contents {
  padding: 70px 20px 20px 20px;
  background: #eeeef2;
}

.heading {
  display: block;
  padding: 5px;
  font-size: 28px;
  font-weight: 700;
}

.post {
  position: absolute;
  width: 360px;
  height: auto;
  left: 0;
  right: 0;
  margin: auto;
  background: rgb(255, 255, 255);
  color: black;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgb(210, 210, 210);
  opacity: 0;
  transition: top 0.5s, box-shadow 0.1s, opacity 0.25s;
  overflow: hidden;
}

.post:hover {
  box-shadow: 0px 0px 1px 2px #260062;
}

.textpost,
.imagepost,
.comicpost {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  color: black;
  border: 0px;
  box-shadow: 0px 0px 0px 2px #adadc2;
  opacity: 0;
  transition: top 0.5s, box-shadow 0.1s, opacity 0.25s;
}

.textpost:hover,
.imagepost:hover,
.comicpost:hover {
  box-shadow: 0px 0px 1px 3px #260062;
}

.textpost {
  width: fit-content;
  height: auto;
}

.imagepost {
  width: fit-content;
  min-width: 360px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.comicpost {
  width: 960px;
  height: auto;
  border-radius: 8px;
}

.textpost_thumbnail {
  display: block;
  max-width: 960px;
  max-height: 480px;
}

.imagepost_thumbnail {
  display: block;
  max-width: 960px;
  max-height: 360px;
  border-radius: 5px 5px 0px 0px;
}

.comicpost_thumbnail {
  vertical-align: top;
  height: 250px;
}

.textpost_thumbnail_container {
  overflow-y: hidden;
  max-height: 200px;
}

.comicpost_thumbnail_container {
  float: left;
  vertical-align: top;
  max-width: 480px;
  border-radius: 8px 0 0 8px;
  overflow-x: hidden;
}

.comicpost_content {
  vertical-align: top;
  overflow: hidden;
}

.post_contents {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.post_spacing {
  display: block;
  margin: 15px auto;
}

.post_title {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 8px 14px 0px 14px;
}

.post_fee {

}

.post_issue {

}

.post_userinfo {
  padding: 0px 0px 10px 14px;
  text-align: left;
  font-size: 12px;
  color: #888;
}

.post_stats {
  width: 100%;
  /*background: white;*/
  border-top: 1px solid #e3e3e3;
  /*border-radius: 0px 0px 5px 5px;*/
}

.post_subtitle {
  padding: 0px 0px 5px 14px;
  font-size: 17px;
  font-weight: 600;
}

.post_synopsis {
  padding: 0px 15px 7px 15px;
  color: black;
  font-size: 13px;
  text-align: left;
}

.post_stats_container {
  margin: 3px 0px;
}

.post_stats_text,
.post_stats_text_active,
.post_stats_text_red {
  display: inline-block;
  vertical-align: top;
  padding: 2px 1px 0px 4px;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
}

.post_stats_text_active {
  color: #1d0099;
}

.post_stats_text_red {
  color: red;
}

.post_interaction,
.post_interaction_shine,
.post_interaction_tip {
  display: inline-block;
  vertical-align: top;
  height: 27px;
  border-radius: 20px;
  transition: background 0.2s;
}

.post_interaction {
  padding: 4px 5px 0px 5px;
}

.post_interaction:hover {
  background: #eeeeee;
}

.post_interaction:active {
  padding-top: 5px;
}

.post_interaction_shine {
  margin: 0px 2px;
  padding: 3px 9px 0px 7px;
  background: #aff4ff;
  border: 1px solid #b0e2e9;
}

.post_interaction_shine:hover {
  background: #50dff3;
}

.post_interaction_tip {
  margin: 0px 2px;
  padding: 3px 9px 0px 7px;
  background: #78f848;
  border: 1px solid #7fd18c;
  border-radius: 20px;
}

.post_interaction_tip:hover {
  background: #53e741;
}

.post_container {
  width: 100%;
  text-align:center;
}

.post_upper_boundary {
  border-top: 1px solid #e3e3e3;
}

.post_lower_boundary {
  border-bottom: 1px solid #e3e3e3;
}

.post_inset {
  /*height: 360px;*/
  width: 640px;
  padding: 10px 15px;
  background: #fafafa;
  box-shadow: 0px 0px 10px -5px #808080 inset;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  flex-grow: 1;
}

.post_error {
  height: 225px;
  font-size: 24px;
  font-weight: 500;
  margin: 6px 12px 2px 12px;
}

.viewpost_contents {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgb(240, 240, 240);
  font-family: 'Poppins', sans-serif;
}

.viewpost_center {
  position: absolute;
  top: 45px;
  right: 80px;
  bottom: 0;
  left: 80px;
  padding: 50px;
  background: white;
  border: 1px solid #e3e3e3;
  /*
  width: calc(100% - 160px);
  height: auto;
  min-height: 100vh;
  margin: 50px 80px 0px 80px;
  background: white;
  border: 1px solid #e3e3e3;
  */
}

.viewpost_title {
  font-size: 32px;
  font-weight: 600;
}

.posts_top {
  border: 1px solid #adadc2;
}

.page_wrapper {
  display: flex;
  height: 100vh;
}

.page_centered {
  margin: auto;
  text-align: center;
}

.page_narrow_wrapper {
  width: 80%;
  height: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.userpage_block {
  position: relative;
  min-height: 200px;
  margin-top: 150px;
  background: white;
  border: 2px solid #adadc2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -6px black;
}

.userpage_alias {
  position: absolute;
  top: -90px;
  left: 215px;
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  font-weight: 900;
}

.userpage_icon {
  position: absolute;
  top: -105px;
  left: 40px;
  width: 150px;
  height: 150px;
  background: gray;
  border: 2px solid #adadc2;
  border-radius: 50%;

}

.userpage_username {
  position: absolute;
  top: 3px;
  left: 215px;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  font-weight: 400;
}

.userpage_info_wrap {
  margin-top: 65px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.userpage_info {
  display: inline-block;
  width: 200px;
}

.userpage_bio {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px 45px 15px 45px;
}

.userpage_action_wrap {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.userpage_action {
  display: inline-block;
  width: 300px;
  margin: 5px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #eaeaea;
  transition: background 0.1s;
}

.userpage_action:hover {
  background: #dadada;
}

.userpage_tab_wrap {
  padding-top: 5px;
  padding-left: 32px;
  height: 40px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.userpage_tab {
  display: inline-block;
  width: 120px;
  margin: 0px 55px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  /*border-radius: 8px;*/
  /*border-bottom: 2px solid #adadc2;*/
  cursor: pointer;
}

.userpage_tab_body {

}

.userpage_list {
  margin: 10px 25px;
}

.slimpost {
  height: 120px;
  margin: 1px;
  background: white;
  box-shadow: 0px 0px 0px 1px #eeeeee;
  transition: background 0.1s
}

.slimpost:hover {
  background: #f8f8f8;
}

.slimpost_thumbnail_container {
  float: left;
  max-width: 200px;
  overflow-x: hidden;
}

.slimpost_thumbnail {
  float: left;
  height: 120px;
}

.slimpost_content_container {
  display: inline-block;
}

.post_type {
  margin: 4px 14px 0px 14px;
  color: #adadc2;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.slimpost_content_container_right {
  padding: 10px;
  float: right;
  text-align: right;
}
