#overlay-shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#overlay {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(200, 200, 200);
  border-radius: 10px;
  color: rgb(0, 0, 0);
}

#main {

}

#logo {
  display: inline-block;
  padding: 6px 26px;
  width: 188px;
  height: auto;
}

#sidebar {
  position: fixed;
  width: 240px;
  height: 100vh;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  border-right: 1px solid #e3e3e3;
  box-shadow: -2px 0 8px 0 #808080;
  font-family: 'Poppins', sans-serif;
}

#central {
  position: absolute;
  left: 241px;
  right: 0;
}

#hotbar {
  display: block;
  position: fixed;
  left: 241px;
  right: 0;
  min-width: 1040px;
  margin: 0;
  padding: 3px 3px;
  background: #101020;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  /*border-radius: 0 0 0 20px;*/
  box-shadow: 0 2px 8px 0 #808080;
}

#hb_wideSearchBarContainer,
#hb_thinSearchBarContainer {
  display: inline-block;
  position: relative;
  margin: 6px 12px 6px 12px;
  padding: 2px 36px 2px 18px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 20px;
  box-shadow: inset 0px 0px 3px 0px #555;
}

#hb_wideSearchBarContainer {
  width: 40%;
  min-width: 200px;
}

#hb_thinSearchBarContainer {
  width: 25%;
}

#searchbar {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 2px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
}

#search_icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 6px 3px 0px;
}

#hb_navlinks {
  display: inline-block;
  margin: 0px 10px;
  color: rgb(255, 255, 255);
}

.navlink {
  display: inline-block;
  margin: 6px;
  padding: 2px;
  color: rgb(255, 255, 255);
}

#hotbar_right {
  display: inline-block;
  float: right;
  padding-top: 3px;
}

#hb_loginButton, #hb_signupButton {
  display: inline-block;
  position: relative;
  margin: 2px 12px 2px;
  padding: 2px 10px 2px;
  border: 1px solid #687c9a;
  border-radius: 10px;
  background: rgb(133, 193, 217);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb(0 0 0);
}

#hb_loginButton {
  width: 12%;
  min-width: 120px;
}

#hb_signupButton {
  width: 25%;
  min-width: 290px;
}

#credits_icon,
#heart_icon {
  display: inline-block;
  vertical-align: middle;
}

#credits_text,
#heart_text {
  display: inline-block;
  margin: 0px 6px 0px 6px;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 700;
}

#credits_text {
  color: #60d070;
}

#heart_text {
  color: #ff8070;
  min-width: 100px;
}

#hb_balance {
  display: inline-block;
  margin: 0px 15px 0px 15px;
}

#hb_hearttime {
  display: inline-block;
  margin: 0px 0px 0px 15px;
}

#hb_userwidget {
  display: inline-block;
  min-width: 150px;
  margin: 0px 15px;
}

#user_icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

#hb_username {
  display: inline-block;
  margin: 0px 6px 0px 6px;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 700;
}

.sidebar_contents {
  padding: 0px 15px;
}

.central_contents {
  padding: 70px 20px 20px 20px;
  background: rgb(240, 240, 240);
}

.heading {
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.post {
  display: inline-block;
  width: 360px;
  height: 360px;
  margin: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgb(230, 230, 230);
}

.post_thumbnail {

}

.post_title {

}

.post_fee {

}

.post_issue {

}

.post_userinfo {

}

.post_interactions {

}

.post_container {
  width: 100%;
  text-align:center;
}

.post_row_spacing {

}
